@model CoachAthlete.Entities.TestDetail

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TestDetail</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DistanceOrTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DistanceOrTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TestHeader)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TestHeader.TestHeaderId)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="SlNo" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
